button{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    background: var(--main-ButtonColor);
    color: var(--baseColor);
    font-family: subFont;
}